body {

      font-family: "Kode Mono", monospace;
      font-optical-sizing: auto;
      font-weight:600;
      font-style: normal;
    background-color: black;
    color: floralwhite;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 200px;

}

#main {
display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}

.title-block{
  margin-left: 0px;
}


.mid-width {
    grid-column:1/4;
    margin-left:0px;
}
p.mid-width{
  grid-column:1/4;
    margin-left:0px;
    margin-top:0px; ;
}

h2.mid-width{
  margin-top: 120px;
}

h1.headder{
  grid-column: 2/5;
}


.center-width {
    grid-column:2/5;
    margin-top: 200px;
    font-size: 36px;
      }

      /* .size-margin{
        margin-top: 100px;
        font-size: ;
      } */
.title-text{
  display: inline-block;
}
.title-block{
  display: inline-flex;
}
.title-text h1{
  font-size: 36px;
}
.pfp{
  transform: translate(40%, 30%);
}


.mc{
  transform: translate(0%, 0%);
}

.caption{
  margin-top: 5px;
}

.leftaligned{
  margin-left:100px;
  margin-top: 100px;
  grid-column:1/2;
}

.rm{
  margin-top:0px;
}

.rightaligned{
grid-column: 4/6;
transform: translate(10%, 65%);

}

.rm{
  grid-column:1/2;
  transform:translate(0%,70%);
  margin-left:100px ;
}

.yslcm{
 grid-column: 4/6;
  transform: translate(10%, 65%);
  margin-top:200px;

}


.footer {
  grid-column:1/5;
  margin-top: 500px;
  margin-left:0px ;
  font-size: 10px;
  color:gray;
}




